{% extends "base.html" %}

{% block title %}

{% endblock title %}

{% block content %}
<div class="row py-8 px-12">
    <div class="col-xl-8 col-lg-7">
        <!-- Profile widget -->
        <div class="bg-white card shadow rounded overflow-hidden">
            {% include "includes/profile/profile.html" %}
        </div>


            <div class="py-4 px-4">
                
                <div class="tab-content" id="nav-tabContent">
                    {% include "includes/profile/nav.html" %}
                    {% comment %} photo starts here {% endcomment %}
                    {% include "includes/profile/photos.html" %}
                    {% comment %} photo ends here {% endcomment %}

                    {% comment %} post starts here {% endcomment %}
                    {% include "includes/profile/posts.html" %}
                    {% comment %} post ends here {% endcomment %}

                    {% comment %} friends starts here {% endcomment %}
                    {% include "includes/profile/friends.html" %}
                    {% comment %} friends ends here {% endcomment %}

                    {% include "includes/profile/modals.html" %}
                    
                    {% if confirm %}
                        <h2>Updated</h2>
                    {% endif %}
                </div>    


            </div>
        </div><!-- End profile widget -->
    </div>
</div>
{% endblock content %}